@font-face {
  font-family: 'IRANSansX-Light';
  src: url('./fonts/IRANSansX-Light.woff') format('woff');
}

*{
  font-family: 'IRANSansX-Light';
  margin: 0;
  padding: 0;
}


body {
  font-family: 'IRANSansX-Light';
  margin: 0;
  padding: 0;
  background: navy;
}




